
  .back-button {
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 24px;
    text-decoration: none;
    color: white;
    background-color: transparent;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    z-index: 10;
  }
  
  .back-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

.upload-container {
    max-width: 800px;
    width: 100%;
    padding: 5%;
    text-align: center;
  }
  
  
  .upload-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .upload-container .destaque {
    color: #ffddff;
  }
  
  .upload-box {
    background-color: #f5e6ff;
    padding: 2rem;
    border-radius: 20px;
    margin: 2rem auto;
    box-shadow: 8px 8px 0 #bd67e2;
    color: #2b0034;
    
  }
  
  .upload-box .upload-icon {
    font-size: 2rem;
  }
  
  .upload-box a {
    font-weight: bold;
    color: #9b00d1;
  }
  
  .upload-box small {
    display: block;
    margin-top: 1rem;
    color: #888;
  }
  
  .recent-text {
    font-weight: bold;
    margin: 2rem 0 1rem;
  }
  
  .recent-images {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: #f5e6ff;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 8px 8px 0 #bd67e2;
  }
  
  .recent-img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    background-color: #fff;
  }

  
  .uploading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
    font-weight: bold;
    color: #2b0034;
    padding: 0.5rem;
  }
  
  .progress-bar {
    width: 80%;
    height: 6px;
    background-color: #ddd;
    border-radius: 3px;
    margin-top: 0.5rem;
  }
  
  .progress {
    width: 60%;
    height: 100%;
    background-color: #4caf50;
    border-radius: 3px;
  }
  
  .add-img {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #ddd;
    color: #9b00d1;
    cursor: pointer;
  }

  .next-button-container {
    text-align: center;
    margin: 40px 0;
}

.next-button {
    background-color: #2b0034;
    color: #fff;
    border: none;
    padding: 15px 40px;
    font-size: 1.1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.next-button:hover {
    background-color: #bd67e2;
}



  