body {
    background-color: #9b00d1;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
  
  
  main {
    flex: 1;
  }
    
.container {
    text-align: center;
    padding: 2rem;
}

button {
    background-color: #2b0034;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

a {
    color: #360061;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer{
    background-color: #2b0034;
    color: white;
    text-align: center;
    padding: 1.5rem 1rem;
    width: 100%;
    margin-top: 2rem;
    font-size: 0.9rem;
    position: relative;
    bottom: 0;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-links {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.footer-links a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #b062ff;
    text-decoration: underline;
}